<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="apple-touch-icon" href="/docs/5.3/assets/img/favicons/apple-touch-icon.png" sizes="180x180">

    <link rel="stylesheet" href="/static/css/galery.css">
</head>

<body>

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check" viewBox="0 0 16 16">
            <title>Check</title>
            <path
                d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
        </symbol>
    </svg>

    <div class="container py-3">
        <header>
            <div>
                <h3 class="float-md-start mb-0">GoodTrip</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link fw-bold py-1 px-0 " aria-current="page" href="/">Home</a>
                    <a class="nav-link fw-bold py-1 px-0 " href="/templates/register.html">Register</a>
                    <a class="nav-link fw-bold py-1 px-0" href="/templates/login.html">sign in</a>
                    <a class="nav-link fw-bold py-1 px-0 active" href="/templates/galery.html">Gallery</a>
                    <a class="nav-link fw-bold py-1 px-0" href="/templates/sale.html">Sale</a>
                </nav>
            </div>
            <br>
            <br>
            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-4 fw-normal">Nuestra Galeria</h1>
                <p class="fs-5 text-muted">Visitar nuestra galeria te da una idea de cual es la mejor opcione para viajar, en este apartado encontraras los desitinos de viaje que ofrecemos 
                    asi como tambien podras ver comentarios u observaciones de personas que anterior mente contrataron nuestros servicios, asi podras darte una idea de la calidad del viaje
                </p>
            </div>
        </header>

        <main>
            <br>
            <br>





            <div class="tituloSeccion text-center">
                <h1 class="display-3"></h1>
            </div>
            <hr>



            <div class="album py-5 ">
                <div class="container">

                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <div class="col">
                            <div class="card shadow-sm">

                                <img src="/static/img/manti.jpg" alt="" srcset=""
                                    class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns=""
                                    role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                    focusable="false">



                                <div class="card-body">
                                    <p class="card-text">Manta es una ciudad de la provincia de Manabí (República de Ecuador). Es la cabecera del cantón de Manta. Con magníficas playas, es el puerto mayor turístico, marítimo y pesquero del Ecuador. Ciudad de gran crecimiento comercial.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">
                                                <a href="/templates/manta.html">View</a>
                                            </button>

                                        </div>
                                        <small id="small" class="text-muted">actualizado febrero 02</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="/static/img/atacames.jpg" alt="" srcset=""
                                    class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns=""
                                    role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                    focusable="false">
                                <div class="card-body">
                                    <p class="card-text">Atacames es una ciudad ecuatoriana, que se encuentra en la Provincia de Esmeraldas. Atacames es famosa en todo el Ecuador por poseer la playa natural más grande del Ecuador y una de las más cercanas a Quito.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">
                                                <a href="/templates/atacames.html">View</a>
                                            </button>
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="/static/img/Tonsupi.jpg" alt="" srcset=""
                                    class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns=""
                                    role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                    focusable="false">
                                <div class="card-body">
                                    <p class="card-text"> Tonsuba, Ubicada en la ruta costera del Océano Pacífico, a 26 kilómetros al suroeste de Esmeraldas se encuentra esta hermosa playa que tiene aproximadamente 4 kilómetros de extensión y 60 metros de ancho, y una infraestructura hotelera de primer nivel. </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="/static/img/contapaxi.jpg" alt="" srcset=""
                                    class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns=""
                                    role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                    focusable="false">
                                <div class="card-body">
                                    <p class="card-text">Cotopaxi esta provincia ubicada al centro del país, en la región sierra, es uno de los centros económicos y comerciales más importantes de la sierra ecuatoriana en este lugar encontraras sitios como El parque nacional Cotopaxi uno de los parque mejor conservados del Ecuador </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="/static/img/baño.jpg" alt="" srcset=""
                                    class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns=""
                                    role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                    focusable="false">
                                <div class="card-body">
                                    <p class="card-text">Baños se encuentra a 40 km al este de Ambato, con una gran riqueza hidrológica, con varios ríos en sus cercanías, como el Bascún (al oeste), el río Ulba (al oriente de la ciudad) y el río Pastaza.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="/static/img/Quilotoa.jpg" alt="" srcset=""
                                    class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns=""
                                    role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                    focusable="false">
                                <div class="card-body">
                                    <p class="card-text">El Quilotoa es una de las 15 lagunas de origen volcánico más hermosas del mundo, debido a su color verde esmeralda, de tonos variables por sus minerales disueltos en sus aguas. Su temperatura bordea los 12 grados centígrados, de enero a mayo las lluvias son frecuentes..</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="/static/img/cuya.jpg" alt="" srcset=""
                                    class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns=""
                                    role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                    focusable="false">
                                <div class="card-body">
                                    <p class="card-text">La Reserva Faunística Cuyabeno, es considerada una de las áreas protegidas con mayor diversidad cultural y hábitat de especies de fauna y flora endémicas.
                                             Aqui podras observar a los legendarios delfines rosados.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="/static/img/yasuni.jpg" alt="" srcset=""
                                    class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns=""
                                    role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                    focusable="false">
                                <div class="card-body">
                                    <p class="card-text">Yasuní, el área protegida más grande del Ecuador continental, resguarda una impresionante biodiversidad en el corazón del bosque húmedo tropical amazónico y protege parte del territorio de la nacionalidad waorani.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="/static/img/napo.jpg" alt="" srcset=""
                                    class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns=""
                                    role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                                    focusable="false">
                                <div class="card-body">
                                    <p class="card-text">Cayambe-Coca se localiza al nororiente de Ecuador, en las provincias de Pichincha, Imbabura, Napo y Sucumbíos. Se extiende sobre más de 400.000 ha y encierra montañas como Cayambe, Saraurcu, Puntas y Reventador, además de la comunidad Kichwa de Oyacachi.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                </div>
                            </div>
                        </div>

        </main>

        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md">
                    <img class="mb-2" src="" alt="" width="24" height="19">
                    <small class="d-block mb-3 text-muted">&copy; 2017–2022</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Funciones</h5>
                    <ul class="list-unstyled text-small">
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="/templates/register.html">Registro</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="/templates/login.html">Login</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="/templates/galery.html">Galeria</a></li>
                       
                                </a>
                        </li>
                       
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Recursos</h5>
                    <ul class="list-unstyled text-small">
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="/templates/sale.html">Ventas</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="/templates/sale.html">Ofertas</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="/templates/galery.html">Galeria</a>
                        </li>
                        
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Direccion</h5>
                    <ul class="list-unstyled text-small">
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">By Steeven D. Caguana-Jonahan D. Andrnado</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Quito-Ecuador</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Derechos reservados</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">ISTY</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>




</body>




</html>