<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="apple-touch-icon" href="/docs/5.3/assets/img/favicons/apple-touch-icon.png" sizes="180x180">

    <link rel="stylesheet" href="/static/css/home.css">
</head>

<body class="d-flex h-100 text-center text-bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">GoodTrip</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="/">Home</a>
                    <a class="nav-link fw-bold py-1 px-0" href="/templates/register.html">Register</a>
                    <a class="nav-link fw-bold py-1 px-0" href="/templates/login.html">Sing in</a>
                </nav>
            </div>
        </header>

        <main class="px-3">
            <h1>GoodTrip</h1>
            <p class="lead">Viajar es marcharse de casa,
                es dejar los amigos
                es intentar volar
                volar conociendo otras ramas
                recorriendo caminos
                es intentar cambiar.</p>
            <p class="lead">
                <a href="/templates/sale.html" class="btn btn-lg btn-light fw-bold border-white bg-white">BIENVENIDO</a>
            </p>
        </main>

        <footer class="mt-auto text-white-50">
            <p> <a href="https://viajeporconocer.com/2017/01/07/viajar-de-gabriel-garcia-marquez/"
                    class="text-white">GoodTrip</a>, by <a
                    href="https://es.wikipedia.org/wiki/Gabriel_Garc%C3%ADa_M%C3%A1rquez" class="text-white">Jonathan
                    Andrango Steeven Caguana</a>.</p>
        </footer>
    </div>



</body>




</html>