<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="apple-touch-icon" href="/docs/5.3/assets/img/favicons/apple-touch-icon.png" sizes="180x180">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

</head>

<body>

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;" class="text-center">
        <symbol id="check" viewBox="0 0 16 16">
            <title>Check</title>
            <path
                d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
        </symbol>
    </svg>

    <div class="container py-3">
        <header>
            <div>
                <h3 class="float-md-start mb-0">GoodTrip</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link fw-bold py-1 px-0 " href="/">Home</a>
                    <a class="nav-link fw-bold py-1 px-0 " href="/templates/register.html">Register</a>
                    <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="{{ url_for('login') }}">sign
                        in</a>
                    <a class="nav-link fw-bold py-1 px-0" href="/templates/galery.html">Gallery</a>
                    <a class="nav-link fw-bold py-1 px-0" href="/templates/sale.html">Sale</a>
                </nav>
            </div>
            <br>
            <br>

        </header>



        <main class="form-signin  w-100 m-auto ">

            <div class="container-lg ">
                <h3 class=" text-center  fw-normal">REGISTRATE</h3>

                <form method="POST" action="">
                    <div class="input-group form-group mb-4">
                        <div class="input-group-prepend">
                            {{ form.hidden_tag() }}
                        </div>

                    </div>
                    <br>
                    <div class="input-group-prepend">

                    </div>

                    <div class="input-group form-group mb-4">
                        <label class="floating mb-3 col-12" for="email">Email</label>
                        {{ form.email }}
                    </div>
                    <div class="input-group form-group mb-4">
                        <div class="input-group-prepend">
                            <label class="floating mb-3 col-12" for="email">Email</label>
                            {{ form.clave }}
                        </div>

                    </div>

                    <!-- <div>
                                            <label class="blanco" for="sesionIniciadaHTML">Mantener la sesión iniciada</label>
                                            <input type="checkbox" id="sesionIniciadaHTML" />
                                        </div> -->
                    <div class="form-group">
                        <center>
                            <br>
                            <a href="{{ url_for('register')}}"><button type="button" class="btn btn-primary">Crear
                                    Cuenta</button></a>
                    </div>
                    <div class="form-group">
                        <center>
                            <br>
                            {{ form.submit }}
                    </div>


                    </center>

                </form>
            </div>



        </main>










</body>




</html>