<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="apple-touch-icon" href="/docs/5.3/assets/img/favicons/apple-touch-icon.png" sizes="180x180">

    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check" viewBox="0 0 16 16">
            <title>Check</title>
            <path
                d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
        </symbol>
    </svg>

    <div class="container py-3">
        <header>
            <div>
                <h3 class="float-md-start mb-0">GoodTrip</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link fw-bold py-1 px-0 " href="/">Home</a>
                    <a class="nav-link fw-bold py-1 px-0 " href="/templates/register.html">Register</a>
                    <a class="nav-link fw-bold py-1 px-0" href="{{ url_for('login') }}">sign in</a>
                    <a class="nav-link fw-bold py-1 px-0" href="/templates/galery.html">Gallery</a>
                    <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="#">Sale</a>
                </nav>
            </div>
            <br>
            <br>
            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-4 fw-normal">Ofertas De Viaje</h1>
                <p class="fs-5 ">Conoce los servivios y ofertas que ofrecemos para tus viajes. Estos te llevaran a los
                    mejores lugares de la Costa, Sierra y el oriente Ecuatoriano de seguro viviras una experiencia unica
                    e inlvidable
                    ¡¡Contratanos!!
                </p>
            </div>
        </header>

        <main>
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm border-primary">
                        <div class="card-header py-3 text-bg-warning   border-warning">
                            <h4 class="my-0 fw-normal">Familiar-Costa</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$900<small
                                    class="text-muted fw-light">/USD</small>
                            </h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>-5 Personas</li>
                                <li>-Hotel </li>
                                <li>-Comida/Buffet libre</li>
                                <li>-Transporte</li>
                                <li>-tres dias dos noche</li>
                                <li>-Tour acuatico</li>

                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-warning">Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm border-primary">
                        <div class="card-header py-3 text-bg-warning   border-warning">
                            <h4 class="my-0 fw-normal">Pareja-Costa</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$600<small
                                    class="text-muted fw-light">/USD</small>
                            </h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>-Hotel </li>
                                <li>-Comida/Buffet libre</li>
                                <li>-Transporte</li>
                                <li>-tres dias dos noche</li>
                                <li>-Tour acuatico</li>

                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-warning">Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm border-primary">
                        <div class="card-header py-3 text-bg-warning   border-warning">
                            <h4 class="my-0 fw-normal">Solitario-Costa</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$300<small
                                    class="text-muted fw-light">/USD</small>
                            </h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>-Hotel</li>
                                <li>-Comida/BUFFET LIBRE</li>
                                <li>-Transporte</li>
                                <li>-Tour turistico acuatico</li>
                                <li>-tres dias dos noche</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-warning">Agregar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Familiar-Sierra</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$900<small
                                    class="text-muted fw-light">/USD</small>
                            </h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>-Hotel </li>
                                <li>-5 Personas </li>
                                <li>-Comidas del dia</li>
                                <li>-Transporte</li>
                                <li>-Dos dias una noche</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-outline-warning">Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3 text-bg-warning  border-primary">
                            <h4 class="my-0 fw-normal">Pareja-Sierra</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$600<small
                                    class="text-muted fw-light">/USD</small>
                            </h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>-Hotel </li>
                                <li>-Comida/Buffet libre</li>
                                <li>-Transporte</li>
                                <li>-tres dias dos noche</li>
                                <li>-Tour acuatico</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-warning">Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm border-primary">
                        <div class="card-header py-3 text-bg-warning  border-primary">
                            <h4 class="my-0 fw-normal">Solitario-Sierra</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$300<small
                                    class="text-muted fw-light">/USD</small>
                            </h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>-Hotel </li>
                                <li>-Comida/Buffet libre</li>
                                <li>-Transporte</li>
                                <li>-tres dias dos noche</li>
                                <li>-Tour acuatico</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-warning">Agregar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Free</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small>
                            </h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>-Hotel </li>
                                <li>-Comida/Buffet libre</li>
                                <li>-Transporte</li>
                                <li>-tres dias dos noche</li>
                                <li>-Tour acuatico</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-outline-warning">Sign up for free</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Pro</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$15<small class="text-muted fw-light">/mo</small>
                            </h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>-Hotel </li>
                                <li>-Comida/Buffet libre</li>
                                <li>-Transporte</li>
                                <li>-tres dias dos noche</li>
                                <li>-Tour acuatico</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-warning">Get started</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm border-primary">
                        <div class="card-header py-3 text-bg-warning border-primary">
                            <h4 class="my-0 fw-normal">Enterprise</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$29<small class="text-muted fw-light">/mo</small>
                            </h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>-Hotel </li>
                                <li>-Comida/Buffet libre</li>
                                <li>-Transporte</li>
                                <li>-tres dias dos noche</li>
                                <li>-Tour acuatico</li>
                            </ul>
                            <button type="button" class="w-100 btn btn-lg btn-warning">Contact us</button>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="display-6 text-center mb-4">Compare plans</h2>

            <div class="table-responsive">
                <table class="table text-center" id="tabla">
                    <thead>
                        <tr>
                            <th style="width: 34%;"></th>
                            <th style="width: 22%;">Gratis</th>
                            <th style="width: 22%;">Pro</th>
                            <th style="width: 22%;">Premium</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="text-start">PublicO</th>
                            <td><svg class="bi" width="24" height="24">
                                    <use xlink:href="#check" />
                                </svg></td>
                            <td><svg class="bi" width="24" height="24">
                                    <use xlink:href="#check" />
                                </svg></td>
                            <td><svg class="bi" width="24" height="24">
                                    <use xlink:href="#check" />
                                </svg></td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Privado</th>
                            <td></td>
                            <td><svg class="bi" width="24" height="24">
                                    <use xlink:href="#check" />
                                </svg></td>
                            <td><svg class="bi" width="24" height="24">
                                    <use xlink:href="#check" />
                                </svg></td>
                        </tr>
                    </tbody>

                    <tbody>
                        <tr>
                            <th scope="row" class="text-start">Permisos</th>
                            <td><svg class="bi" width="24" height="24">
                                    <use xlink:href="#check" />
                                </svg></td>
                            <td><svg class="bi" width="24" height="24">
                                    <use xlink:href="#check" />
                                </svg></td>
                            <td><svg class="bi" width="24" height="24">
                                    <use xlink:href="#check" />
                                </svg></td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Compartir</th>
                            <td></td>
                            <td><svg class="bi" width="24" height="24">
                                    <use xlink:href="#check" />
                                </svg></td>
                            <td><svg class="bi" width="24" height="24">
                                    <use xlink:href="#check" />
                                </svg></td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Limite de Numeros</th>
                            <td></td>
                            <td><svg class="bi" width="24" height="24">
                                    <use xlink:href="#check" />
                                </svg></td>
                            <td><svg class="bi" width="24" height="24">
                                    <use xlink:href="#check" />
                                </svg></td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Extra Seguro</th>
                            <td></td>
                            <td></td>
                            <td><svg class="bi" width="24" height="24">
                                    <use xlink:href="#check" />
                                </svg></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>

        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md">
                    <img class="mb-2" src="" alt="" width="24" height="19">
                    <small class="d-block mb-3 text-muted">&copy; 2017–2022</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Features</h5>
                    <ul class="list-unstyled text-small">
                        <li class="mb-1"><a class="link-secondary text-decoration-none"
                                href="/templates/register.html">Registro</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none"
                                href="/templates/login.html">Login</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none"
                                href="/templates/galery.html">Galeria</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li class="mb-1"><a class="link-secondary text-decoration-none"
                                href="/templates/sale.html">Ventas</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none"
                                href="/templates/sale.html">Ofertas</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none"
                                href="/templates/galery.html">Galeria</a>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">By Steeven D.
                                Caguana-Jonahan D. Andrnado</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Quito-Ecuador</a></li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Derechos reservados</a>
                        </li>
                        <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">ISTY</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>




</body>




</html>